.skills-container h2 {
  margin: 0;
  padding: 10px 0 0 0;
  border-bottom: 1px solid black;
}

.skills-container ul {
  margin: 0;
  padding: 10px 0 0 0;
  font-size: 1.2rem;
}

li {
  padding: 2px 0 0 0;
  line-height: 1.6;
}
